*Copy*
*Copie*
*bef_modif*
old

.vscode
.idea

.ipynb_checkpoints
__pycache__

*.pyc
*.so
*.dll

*.db
*.TMP
*.html
*.csv
*.csv#
#*.pdf

*.jpg
*.jpeg
#*.png
*.ppm
*.tif
*.tiff
*.gz
*.ini


#*.pkl
*.pickle

*.RDS
*.Rhistory

# saved models
#*.pth
# logs
runs/